:root {--bg: #1e1e24; --fg: #e4e4e4; --mid: #555; --acc: #ed4141;}
*{margin:0;padding:0;box-sizing:border-box;transition:color, background-color .4s ease}
html,main,body,#riven{height:100%;width:100%;}
.hide{display:none}
body { overflow:hidden;background-color:var(--bg); font: 1rem/1.62 "Inter", "Helvetica", sans-serif}

#map { background-color:transparent;stroke-width: 10;stroke-linecap: round;cursor:crosshair;z-index:100;}
g.node text { text-anchor: start; stroke:none; font-size:9px; }
g.node.mesh rect {fill:none; }
g.node .glyph { stroke-width:10; stroke:#fff; }
g.node rect { stroke-width:1; }
g.node:hover rect { fill:white; cursor: hand; stroke: #fff }
g.node:hover path.glyph { stroke:#000; stroke-width:12; }
g.node.meshnode rect {fill:none; stroke:var(--mid); stroke-width:1;}
g.node.meshnode .port { display: none; }
g.node path.glyph {fill:none; stroke-width:10; stroke-linejoin: round; stroke-linecap: round  }
g.node text { fill:var(--fg); }
g#routes { fill:transparent; }
path.route { stroke-width:2 }
path.route.request { stroke: var(--mid);stroke-dasharray: 0,5; stroke-dashoffset: -250; animation: dash 20s linear infinite; }
path.route.output { stroke:var(--acc); stroke-dasharray: 10,5; stroke-dashoffset: 250; animation: dash 10s linear infinite; }
@keyframes dash { to { stroke-dashoffset: 0;} }

form{width:calc(100% - (3.33em * 2));position:absolute;top:3.33rem}
form{left:3.33rem}
input {width:100%;background-color:transparent;border:0;outline:0;color:var(--fg)}
output {position:absolute;font-size:.78em;color:var(--mid)}
output#output{top:5.25rem;left:3.33rem}
output#extra{bottom:3.33rem;right:3.33rem;text-align:right;font-size:.78em}
input,output {font-family:monospace}
.n{color:var(--acc)}
::placeholder{color:var(--mid)}
span.topo{border-radius:.78em;max-width:45ch;background-color:var(--bg);color:var(--fg);font-family:monospace;padding:1em;font-size:.78em;
box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px}
